app = 'bd-nagzerver'
primary_region = 'ewr'

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[http_service.checks]]
    method = "GET"
    path = "/api/v1/version"
    interval = "30s"
    timeout = "5s"
    grace_period = "15s"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
