app = 'billdonner-alities-engine'
primary_region = 'ewr'

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1  # daemon needs to stay running

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
